<div class="container">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h4 class="h2">{{ section.settings.title | escape }}</h4>
    </div>
  {% endif %}

  <div class="custom-content">
    {% for block in section.blocks %}
      {% case block.settings.width %}
        {% when '16%' %}
          {%- assign block_width = 'medium-up--one-sixth small--one-half x-small--one-whole' -%}
          {%- assign image_size = '300x300' -%}
        {% when '20%' %}
          {%- assign block_width = 'medium-up--one-fifth small--one-half x-small--one-whole' -%}
          {%- assign image_size = '350x350' -%}
        {% when '25%' %}
          {%- assign block_width = 'medium-up--one-quarter small--one-half x-small--one-whole' -%}
          {%- assign image_size = '400x400' -%}
        {% when '33%' %}
          {%- assign block_width = 'medium-up--one-third small--one-half x-small--one-whole' -%}
          {%- assign image_size = '450x450' -%}
        {% when '50%' %}
          {%- assign block_width = 'medium-up--two-quarters small--one-half x-small--one-whole' -%}
          {%- assign image_size = '600x600' -%}
        {% when '66%' %}
          {%- assign block_width = 'medium-up--two-thirds small--one-half x-small--one-whole' -%}
          {%- assign image_size = '720x720' -%}
        {% when '75%' %}
          {%- assign block_width = 'medium-up--three-quarters small--one-half x-small--one-whole' -%}
          {%- assign image_size = '810x810' -%}
        {% when '80%' %}
          {%- assign block_width = 'medium-up--eight-tenths small--one-half x-small--one-whole' -%}
          {%- assign image_size = '810x810' -%}
        {% when '84%' %}
          {%- assign block_width = 'medium-up--five-sixths small--one-half x-small--one-whole' -%}
          {%- assign image_size = '810x810' -%}
        {% when '100%' %}
          {%- assign block_width = 'one-whole' -%}
          {%- assign image_size = '1090x1090' -%}
      {% endcase %}
      <div class="custom__item {{ block_width }} {% if block.settings.alignment %}align--{{ block.settings.alignment }}{% endif %} {% if block.settings.align_text %}text-{{ block.settings.align_text }}{% endif %}" {{ block.shopify_attributes }}>
        <div class="custom__item-inner custom__item-inner--{{ block.type }}">
          {% case block.type %}
            {% when 'image' %}
              {% if block.settings.image != blank %}
                {%- assign image_alt = block.settings.image.alt -%}
                {%- assign image_link = block.settings.url -%}
                {%- assign image_effect = block.settings.effect -%}
                {% if image_effect %}
                  <div class="block__image-effect-{{ image_effect }}">
                {% endif %}
                {% if image_link %}
                  <a href="{{ image_link }}">
                {% endif %}
                {{ block.settings.image | img_url: 'master' | img_tag: image_alt }}
                {% if image_link %}
                  </a>
                {% endif %}
                 {% if image_effect %}
                  </div>
                {% endif %}
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            {% when 'text' %}
              <div class="medium-up--text-{{ block.settings.align_text }}">
                {% if block.settings.title != blank %}
                  <h4 class="h3">{{ block.settings.title }}</h4>
                {% endif %}
                {% if block.settings.text != blank %}
                  <div class="rte-setting">{{ block.settings.text }}</div>
                {% endif %}
              </div>
            {% when 'video' %}
              <div class="video-wrapper">
                {% if block.settings.video_url == blank %}
                  <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                {% else %}
                  {% if block.settings.video_url.type == "youtube" %}
                    <iframe src="//www.youtube.com/embed/{{ block.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                  {% endif %}
                  {% if block.settings.video_url.type == "vimeo" %}
                    <iframe src="//player.vimeo.com/video/{{ block.settings.video_url.id }}?byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                  {% endif %}
                {% endif %}
              </div>
            {% when 'product' %}
              {%- assign product = all_products[block.settings.product] -%}
              {% if product.title.size > 0 %}
                {% include 'product-card-grid', grid_image_width: image_size %}
              {% else %}
                {% comment %}
                  No product yet. Show onboarding one.
                {% endcomment %}
                <div class="grid-view-item">
                  <a class="grid-view-item__link" href="#">
                    <div class="grid-view-item__image">
                      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                    <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                    <div class="grid-view-item__meta">
                      {{ 1999 | money }}
                    </div>
                  </a>
                </div>
              {% endif %}
            {% when 'products' %}
              {%- assign collection = collections[block.settings.products] -%}
              {% case block.settings.limit %}
                {% when '1' %}
                  {%- assign columns = 'one-whole' -%}
                {% when '2' %}
                  {%- assign columns = 'medium-up--one-half small--one-half x-small--one-whole' -%}
                {% when '3' %}
                  {%- assign columns = 'medium-up--one-third small--one-half x-small--one-whole' -%}
                {% when '4' %}
                  {%- assign columns = 'medium-up--one-quarter small--one-half x-small--one-whole' -%}
              {% endcase %}
              {%- assign limit = block.settings.limit -%}
              <div class="grid">
                {% for product in collection.products limit: limit %}
                  <div class="grid__item {{ columns }}">
                    {% include 'product-card-grid', grid_image_width: image_size %}
                  </div>
                {% endfor %}
              </div>
            {% when 'collection' %}
              {%- assign collection = collections[block.settings.collection] -%}
              {% include 'collection-grid-item', collection_image_size: image_size %}
            {% when 'html' %}
              {% if block.settings.code != blank %}
                {{ block.settings.code }}
              {% endif %}
            {% when 'instagram' %}
              {%- assign user_id = block.settings.user_id -%}
              {%- assign access_token = block.settings.access_token -%}
              {%- assign instagram_limit = block.settings.instagram_limit -%}
              {%- assign img_link = '{{link}}' %}
              {%- assign img_url = '{{image}}' %}
              <script>
                var feed = new Instafeed({
                    target: 'block__instafeed',
                    get: 'user',
                    resolution: 'low_resolution',
                    userId: '{{ user_id }}',
                    limit: {{ instagram_limit }},
                    accessToken: '{{ access_token }}',
                    template: '<div class="block__instafeed--item"><a href="{{ img_link }}" target="_blank"><img src="{{ img_url }}" /></a></div>'
                });
                feed.run();
              </script>
              <div id="block__instafeed" class="flex"></div>
          {% endcase %}
        </div>
      </div>

    {% endfor %}
  </div>

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Custom content",
    "class": "index-section custom-content-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Custom content"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your brand"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "16%",
                "label": "16%"
              },
              {
                "value": "20%",
                "label": "20%"
              },
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "80%",
                "label": "80%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical alignment",
            "default": "center",
            "options": [
              {"value": "top-middle", "label": "Top"},
              {"value": "center", "label": "Middle"},
              {"value": "bottom-middle", "label": "Bottom"}
            ]
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Horizontal alignment",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "effect",
            "label": "Effect",
            "default": "none",
            "options": [
              {
                "value": "none",
                "label": "none"
              },
              {
                "value": "1",
                "label": "1"
              },
              {
                "value": "2",
                "label": "2"
              },
              {
                "value": "3",
                "label": "3"
              }
            ]
          },
          {
            "type": "url",
            "id": "url",
            "label": "Image Link"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "16%",
                "label": "16%"
              },
              {
                "value": "20%",
                "label": "20%"
              },
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "80%",
                "label": "80%"
              },
              {
                "value": "84%",
                "label": "84%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical alignment",
            "default": "center",
            "options": [
              {
                "value": "top-left",
                "label": "Top left"
              },
              {
                "value": "top-middle",
                "label": "Top middle"
              },
              {
                "value": "top-right",
                "label": "Top right"
              },
              {
                "value": "middle-left",
                "label": "Middle left"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "middle-right",
                "label": "Middle right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom left"
              },
              {
                "value": "bottom-middle",
                "label": "Bottom middle"
              },
              {
                "value": "bottom-right",
                "label": "Bottom right"
              }
            ]
          }
        ]
      },
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "video_url",
            "id": "video_url",
            "label": "YouTube or Vimeo link",
            "accept": ["youtube", "vimeo"]
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "100%",
            "options": [
              {
                "value": "16%",
                "label": "16%"
              },
              {
                "value": "20%",
                "label": "20%"
              },
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "80%",
                "label": "80%"
              },
              {
                "value": "84%",
                "label": "84%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical alignment",
            "default": "top-middle",
            "options": [
              {
                "value": "top-middle",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "bottom-middle",
                "label": "Bottom"
              }
            ]
          }
        ]
      },
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "16%",
                "label": "16%"
              },
              {
                "value": "20%",
                "label": "20%"
              },
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "80%",
                "label": "80%"
              },
              {
                "value": "84%",
                "label": "84%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical alignment",
            "default": "center",
            "options": [
              {
                "value": "top-left",
                "label": "Top left"
              },
              {
                "value": "top-middle",
                "label": "Top middle"
              },
              {
                "value": "top-right",
                "label": "Top right"
              },
              {
                "value": "middle-left",
                "label": "Middle left"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "middle-right",
                "label": "Middle right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom left"
              },
              {
                "value": "bottom-middle",
                "label": "Bottom middle"
              },
              {
                "value": "bottom-right",
                "label": "Bottom right"
              }
            ]
          }
        ]
      },
      {
        "type": "products",
        "name": "Products",
        "settings": [
          {
            "type": "collection",
            "id": "products",
            "label": "Collection"
          },
          {
            "type": "select",
            "id": "limit",
            "label": "Limit product",
            "default": "2",
            "options": [
              {
                "value": "1",
                "label": "1"
              },
              {
                "value": "2",
                "label": "2"
              },
              {
                "value": "3",
                "label": "3"
              },
              {
                "value": "4",
                "label": "4"
              }
            ]
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "16%",
                "label": "16%"
              },
              {
                "value": "20%",
                "label": "20%"
              },
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "80%",
                "label": "80%"
              },
              {
                "value": "84%",
                "label": "84%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical alignment",
            "default": "center",
            "options": [
              {
                "value": "top-left",
                "label": "Top left"
              },
              {
                "value": "top-middle",
                "label": "Top middle"
              },
              {
                "value": "top-right",
                "label": "Top right"
              },
              {
                "value": "middle-left",
                "label": "Middle left"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "middle-right",
                "label": "Middle right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom left"
              },
              {
                "value": "bottom-middle",
                "label": "Bottom middle"
              },
              {
                "value": "bottom-right",
                "label": "Bottom right"
              }
            ]
          }
        ]
      },
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "16%",
                "label": "16%"
              },
              {
                "value": "20%",
                "label": "20%"
              },
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "80%",
                "label": "80%"
              },
              {
                "value": "84%",
                "label": "84%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "instagram",
        "name": "Instagram",
        "settings": [
          {
            "type": "text",
            "label": "User ID",
            "id": "user_id",
            "info": "Get [user ID](https://smashballoon.com/instagram-feed/find-instagram-user-id)"
          },
          {
            "type": "text",
            "label": "Access Token",
            "id": "access_token",
            "info": "Get [access token](http://instagram.pixelunion.net/)"
          },
          {
            "type": "select",
            "label": "Limit",
            "id": "instagram_limit",
            "default": "3",
            "options": [
              {
                "value": "1",
                "label": "1"
              },
              {
                "value": "2",
                "label": "2"
              },
              {
                "value": "3",
                "label": "3"
              },
              {
                "value": "4",
                "label": "4"
              },
              {
                "value": "5",
                "label": "5"
              },
              {
                "value": "6",
                "label": "6"
              },
              {
                "value": "7",
                "label": "7"
              },
              {
                "value": "8",
                "label": "8"
              }
            ]
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "16%",
                "label": "16%"
              },
              {
                "value": "20%",
                "label": "20%"
              },
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "80%",
                "label": "80%"
              },
              {
                "value": "84%",
                "label": "84%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "html",
            "id": "code",
            "label": "HTML"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "16%",
                "label": "16%"
              },
              {
                "value": "20%",
                "label": "20%"
              },
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "80%",
                "label": "80%"
              },
              {
                "value": "84%",
                "label": "84%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom content",
        "category": "Advanced layout",
        "blocks": [
          {
            "type": "text"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
